#customize-controls .control-section-fitness-gymhouse .accordion-section-title:hover,
#customize-controls .control-section-fitness-gymhouse .accordion-section-title:focus {
	background-color: #fff;
}

.control-section-fitness-gymhouse .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}

.rtl .control-section-fitness-gymhouse .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

/* ---------Excerpt & Logo--------- */
input#_customize-input-fitness_gymhouse_excerpt_number,
input#_customize-input-fitness_gymhouse_slider_excerpt_number,
input#_customize-input-fitness_gymhouse_slider_opacity_color,
input#_customize-input-fitness_gymhouse_slider_speed,
input#_customize-input-fitness_gymhouse_scroll_top_fontsize,
input#_customize-input-fitness_gymhouse_comment_form_size {
    width: 100%;
}
input#_customize-input-logo_size{
    width: 100%;
}
li#customize-control-logo_size {
    background: #fff;
    padding: 4px;
}